.idea
.vs
.vsconfig
Binaries
DerivedDataCache
Intermediate
Saved
Plugins/Developer
Plugin/*/Binaries
Plugin/*/Intermediate
Content/Collections
Content/Developers
UnrealFoundation.sln
Content/ParkourAnimations
Content/DynamicLocomotion
Content/DynamicCombatSystem
Content/Giant_Golem_AnimSet
Content/DynamicArcherSet
Content/CombatFury
Content/Animations_Creature
Content/BSP_ZombieAnims
Content/Characters/Mannequin_UE4/Animations/CloseCombat
Content/Characters/Mannequin_UE4/Animations/Deaths
Content/Characters/Mannequin_UE4/Animations/DynamicSwordAnimset
Content/Characters/Mannequin_UE4/Animations/Frank_Fighting_Set2
Content/Characters/Mannequin_UE4/Animations/SnSAnimsetPro
Content/Characters/Mannequins/Animations/Locomotion1
Content/Characters/Mannequins/Animations/Locomotion2